!!!
%html
	%head
		%title EVEREVERNOTE | Your Life's Work!
		%meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag "application", "data-turbo-track": "reload"
		= javascript_importmap_tags
	%body
		%header
			.header_inner
				= link_to "EVEREVERNOTE", root_path, id: "logo"
				%nav
					- if user_signed_in?
						= link_to "New Note", new_note_path
						= button_to "Sign Out", destroy_user_session_path, method: :delete 

					- else
						= link_to "Log In", new_user_session_path
		%p.notice= notice
		%p.alert= alert

		= yield

